
        <!-- Background Video-->
        <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="./assets/mp4/bg.mp4" type="video/mp4" /></video>
        <!-- Masthead-->
        <div class="masthead">
            <div class="masthead-content text-white">
                <div class="container-fluid px-4 px-lg-0 text-center">
                  <div class="row">
                    <div class="col-md-12">
                      <img src="./assets/img/LugoGF_logoBLANCO.png" alt="Logo Lugo gaming fest" class="logo-principal img-fluid my-5 visible-xs-block">
                    </div>
                  </div>
                    <h1 class="fst-italic lh-1 mb-4">La página web estará disponible próximamente ...</h1>
                  <div class="row">
                    <div class="col-md-12">
                      <app-cuenta-atras></app-cuenta-atras>
                    </div>
                  </div>

                </div>
            </div>
        </div>
        <div class="my-5 text-center">
          <app-twitter-feed class="twitter-feed-centrado"></app-twitter-feed>
        </div>
        <!-- Social Icons-->
        <!-- For more icon options, visit https://fontawesome.com/icons?d=gallery&p=2&s=brands-->
        <div class="social-icons">
            <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
                <a class="btn btn-dark btn-twitter m-3" href="https://twitter.com/LugoGamingFest" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
                <a class="btn btn-dark btn-instagram m-3" href="https://www.instagram.com/lugogamingfest/" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
                <a class="btn btn-dark btn-twitch m-3" href="https://www.twitch.tv/LugoGamingFest" target="_blank"><fa-icon [icon]="faTwitch"></fa-icon></a>
                <a class="btn btn-dark btn-linkedin m-3" href="https://www.linkedin.com/showcase/lugo-gaming-fest/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
            </div>
        </div>

