<section>
  <div class="coming-soon">
      <div class="time-countdown">
          <ul>
              <li class="count-bg-one radius"><span id="days">{{day}}</span><span class="unidades-dias">Días</span></li>
              <li class="count-bg-two radius"><span id="hours">{{hours}}</span><span class="unidades-dias">Horas</span></li>
              <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span ><span class="unidades-dias">Minutos</span></li>
              <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span><span class="unidades-dias">Segundos</span></li>
          </ul>
      </div>
  </div>
</section>
